html {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%
}

body p, input{
    background-color: transparent;
    border: none;
    color: white;
}

.info-person input{
    padding: 20px;
    border: 1px solid;
    border-top: 1px;
    border-color: #bd2c00;
    border-radius: 10px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    border-radius: 50px
}

.info-person {
    padding-bottom: 10px;
    color: white;
}

.info-person input {
    padding: 5px;
    margin: 3px;
}
/*IMC*/
#imc-table {
    background-color: rgb(15, 15, 15);
    text-align: center;
    margin-bottom: 15px;
    color: white
}

#imc-table th {
    padding: 10px;
    background-color: #bd2c00;
    border-radius: 10px
}

#imc-table td{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(61,61,61)
}

#imc-table progress{
    background-color: #bd2c00;
}

/*BODY FAT*/
#body-fat {
    background-color: rgb(15, 15, 15);
    text-align: center;
    margin-bottom: 15px;
    border: 0px;
    color: white
}

#body-fat th {
    padding: 10px;
    background-color: #bd2c00;
    border-radius: 10px
}

#body-fat td{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(61,61,61)
}

/*BODY MUSCLE*/
#muscle-table {
    background-color: rgb(15, 15, 15);
    text-align: center;
    margin-bottom: 15px;
    border: 0px;
    color:white
}

#muscle-table th {
    padding: 10px;
    background-color: #bd2c00;
    border-radius: 10px
}

#muscle-table td{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(61,61,61)
}

/*VISCERAL FAT*/
#visceral-fat-table {
    background-color: rgb(15, 15, 15);
    text-align: center;
    margin-bottom: 15px;
    border: 0px;
    color: white;
}

#visceral-fat-table th{
    padding: 10px;
    background-color: #bd2c00;
    border-radius: 10px
}

#visceral-fat-table td{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(61,61,61);
}

/*TAXA METABÓLICA E IDADE BIOLÓGICA*/
#RM {
    background-color: rgb(15, 15, 15);
    text-align: center;
    margin-bottom: 15px;
    border: 0px;
    color: white;
}

#RM th{
    padding: 10px;
    background-color: #bd2c00;
    border-radius: 10px
}

#RM td{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(61,61,61);
}

/*PERIMETRÍA*/
.perimetria{
    margin-bottom: 25px;
    color: white;
}

.perimetria th{
    padding: 10px;
    background-color: #bd2c00;
    border-radius: 10px
}

.perimetria td{
    background-color: rgb(61,61,61);
    border-radius: 10px;
    padding: 10px

}

#container3D {
    display: flexbox;

}

table {
  margin-top: 20px;
}

input {
  width: 80px;
}

.info-add {
    color: white;
    background-color: rgb(61,61,61);
    text-align: right;
}

footer{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

footer button{
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    border: none;
}

#cancel:hover{
    transition: 500ms;
    background-color: rgb(167, 53, 53);
    color: white;
    font-style: bold;
}
#final:hover{
    transition: 500ms;
    background-color: rgb(53, 167, 53);
    color: white;
    font-style: bold;
}

.info-add{
    border: 1.5px solid;
    border-radius: 20px;
    padding: 20px;
}